/***************************************************
x Add your Google Fonts
x Update ALL the named colours to create a monochromatic scheme
x #197f19 #7eff7e #32ff32 #3f7f3f #28cc28
x Style the menus - one horizontally and one vertically
x Add the hover/active effects to your menu items
***************************************************/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: Raleway, Helvetica, Arial, sans-serif;
}
html, body{
    background-color:#3f7f3f;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: Merriweather, 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: Merriweather, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: chartreuse;
    color: #3f7f3f;
/*    #197f19 #7eff7e #32ff32 #3f7f3f #28cc28*/
}
header{
    border-bottom: 0.8rem solid #3f7f3f;
    background-color: #28cc28;
    color: #3f7f3f;
}

/*******add fonts, colours etc to code above*****/


/*----------Horizontal Menu*/
.menu-h{
    width: 100%;
    
}

    .menu-h li{
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
        list-style:none;
        float:left;
        width:20%;
        text-align:center;
        border-left: 2px solid #f00;
        border-bottom:2px solid #f00;
        line-height:1;
    }

        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
            text-decoration:none;
            display:block;
            padding: 2px 0;
        }

        .menu-h a:hover,
        .menu-h a:active{
            background-color:orange;
            text-transform: uppercase;
        }



/*------------Vertical Menu*/
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
        list-style:none;
        width:100%;
    }

        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            /* style the anchors to fill the entire width of the li */
            display:block;
            text-decoration:none;
            
        }

        .menu-v a:hover,
        .menu-v a:active{
            background-color:orange;
            font-family:Wingdings, Raleway, Helvetica, Arial, sans-serif;
            border-right: 4px solid red;
            border-style: groove;
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}